# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
statsmodels=0.6.1=np111py34_1
distributed=1.14.3=py34_0
pandas=0.19.1=np111py34_0
numpy=1.11.2=py34_0
pydot-ng=1.0.0.15=py34_0
scikit-learn=0.18.1=np111py34_0
